<ion-list class="slider-box">
  <ion-list-header>
      <ion-label class="titulo-seccion">Emprendimientos Nuevos</ion-label>
      <ion-button class="detalle-titulo-seccion">Ver todos >></ion-button>
  </ion-list-header>
  <ion-slides *ngIf="entrepreneurships.length"  [options]="slidesOptions">
      <ion-slide *ngFor="let entrepreneurship of entrepreneurships" >
          <ion-card class="caja-promocion">
              <img [routerLink]= "['/emprendimiento']" [queryParams]="{ id: entrepreneurship.id}" style="height: 150px;width: 100%;" [src]="entrepreneurship.cover" alt="">
              <ion-item lines="none">
                  <ion-avatar slot="start" style="width: 50px;height: 50px;">
                      <img [src]="entrepreneurship.logo" />
                  </ion-avatar>
                  <ion-label>
                      <p class="titulo-promocion">{{entrepreneurship.name}}</p>
                      <p class="ubicacion-categoria-promocion"> Chiclayo - {{entrepreneurship.subcategory.name}}</p>
                      <p class="slogan">{{entrepreneurship.description}}</p>
                  </ion-label>
              </ion-item>
              <ion-badge style="margin-right: 6px; --background: #F44336;">
                  <ion-icon name="bicycle-outline"></ion-icon>
                  Delivery Gratis
              </ion-badge>
              <ion-badge style="margin-right: 6px; --background: #009688;">
                  <ion-icon name="pricetags-outline"></ion-icon>
                  Promociones
              </ion-badge>
              <ion-badge style="margin-right: 6px; --background: #2196F3;">
                  <ion-icon name="calendar-outline"></ion-icon>
                  Atención Domingos
              </ion-badge>
          </ion-card>
      </ion-slide>
  </ion-slides>
</ion-list>