

.titulo-seccion {
    font-family: "Poppins Regular" !important;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
}

.detalle-titulo-seccion {
    font-family: "Poppins Regular" !important;
    text-transform: initial;
    font-weight: 600;
    line-height: 20px;
    --color:  #E13449;
}

// .slider-box {
//     margin-top: -20px !important;
// }

// .slider-box {
//     padding-bottom: 1px !important;
// }

.caja-promocion {
    margin-top: 0px;
}

.titulo-promocion {
    font-family: "Poppins Regular" !important;
    color: #0D0D0D;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.ubicacion-categoria-promocion {
    color: #74788d;
    font-family: "Poppins Regular" !important;
    size: 13px;
    font-weight: 200;
    line-height: 18px;
}

ion-badge {
    border-radius: 5px;
}

.detalle-promocion {
    font-family: "Poppins Regular" !important;
    padding-top: 1px !important;
    margin-top: 1px !important;
    font-size: 8px;
}

.slogan {
    font-family: "Poppins Light" !important;
    color: #E23744;
}

.etiqueta {
    font-family: "Poppins Regular" !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
