<ion-list class="slider-box">
  <ion-list-header>
      <ion-label class="titulo-seccion">Emprendimientos Nuevos</ion-label>
      <ion-button class="detalle-titulo-seccion">Ver todos >></ion-button>
  </ion-list-header>
  <ion-slides *ngIf="entrepreneurships.length"  [options]="slidesOptions">
      <ion-slide *ngFor="let entrepreneurship of entrepreneurships" >
          <ion-card [routerLink]= "['/entrepreneurship']" [queryParams]="{ id: entrepreneurship.id}" class="caja-promocion">
              <img style="height: 150px;width: 100%;" [src]="entrepreneurship.cover" alt="">
              <ion-item lines="none">
                  <ion-avatar slot="start" style="width: 50px;height: 50px;">
                      <img [src]="entrepreneurship.logo" />
                  </ion-avatar>
                  <ion-label>
                      <p class="titulo">{{entrepreneurship.name}}</p>
                      <p class="ubicacion"> {{entrepreneurship.district.district}} - {{entrepreneurship.subcategory.name}}</p>
                      <p class="slogan ion-text-wrap">{{entrepreneurship.slogan}}</p>
                  </ion-label>
              </ion-item>
          </ion-card>
      </ion-slide>
  </ion-slides>
</ion-list>