<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <div class="contenedor-titulo">
        <ion-label style="color: #242429;" class="contenedor-texto">Terminos y Condiciones</ion-label>
      </div>
      <ion-card class="card text">
        <p>- Nunca Olvides Que La Persona Al Otro Lado Es Humano</p>
        <p>- No Culpes Al Adminitrador Por El Comportamiento De Sus Usuarios</p>
        <p>- Se Cuidadoso Respecto Lo Que Dices De Otros</p>
        <p>- Se Breve</p>
        <p>- Tus Publicaciones deben estar bien detalladas</p>
        <p>- Usa Titulos Descriptivos</p>
        <p>- Piensa En Tu Audiencia</p>
        <p>- Se Cuidadoso Con Los Copyrights y Licencias</p>
        <p>- Las Criticas Ortograficas Se Consideran Dañinas</p>
        <p>- Nunca Juzgues A Las Personas</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>