<ion-list>
  <ion-list-header>
      <ion-label class="titulo-seccion">Promociones recientes</ion-label>
      <ion-button class="detalle-titulo-seccion">Ver todos >></ion-button>
  </ion-list-header>
  <ion-slides *ngIf="deals.length" [options]="slidesOptions">
      <ion-slide *ngFor="let deal of deals" >
          <ion-card [routerLink]= "['/deal']" [queryParams]="{ id: deal.id}" class="caja-promocion card">
              <!-- <img [src]="deal.image" alt=""> -->
              <div class="ribbon-holder">
                <div class="ribbon ribbon-holder">
                    <!-- <p style="text-align: center;margin-top: 30%;">{{deal.description}}</p> -->
                    <p style="text-align: center;margin-top: 30%;">2 x 1</p>
                </div>
                  <img [src]="deal.image" alt="Shower Curtin" />
              </div>
              <ion-label class="titulo">{{deal.name}}</ion-label>
              <br><ion-label class="limite"> {{showTime(deal.end_date)}} </ion-label>
          </ion-card>
      </ion-slide>
  </ion-slides>
</ion-list>