<ion-header class="ion-no-border">
  <ion-toolbar class="contenedor-cabecera">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="¿Qué estas buscando?" animated></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="finger-print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>