<ion-slides [options]="slidesOptions">
  <ion-slide>
      <ion-card>
       <ion-tab-button class="categoria-principal">
           <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
           <ion-label class="ion-wrap">Cenas</ion-label>
       </ion-tab-button> 
      </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/pizza.svg"></ion-icon>
          <ion-label class="ion-wrap">Pizzerias</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/magdalena.svg"></ion-icon>
          <ion-label class="ion-wrap">Postres</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/regalos.svg"></ion-icon>
          <ion-label class="ion-wrap">Regalos</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
          <ion-label class="ion-wrap">Hamburguesas</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
          <ion-label class="ion-wrap">Hamburguesas</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
          <ion-label class="ion-wrap">Hamburguesas</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
          <ion-label class="ion-wrap">Hamburguesas</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
          <ion-label class="ion-wrap">Hamburguesas</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
  <ion-slide>
     <ion-card>
      <ion-tab-button class="categoria-principal">
          <ion-icon style="font-size: 64px;" src="../../../assets/icon/comida-rapida.svg"></ion-icon>
          <ion-label class="ion-wrap">Hamburguesas</ion-label>
      </ion-tab-button> 
     </ion-card>
  </ion-slide>
</ion-slides>