<app-header></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="8" offset-lg="2">
                <ion-row>
                    <!-- <ion-list-header>
                        <ion-label class="titulo-seccion ion-text-center">🔥 Aprovecha estas promociones! 🔥</ion-label>
                    </ion-list-header> -->
                    <ion-col *ngFor="let deal of deals"  size="6" size-lg="3">
                        <ion-card [routerLink]= "['/deal']" [queryParams]="{ id: deal.id}" class="caja-promocion routerLink">
                            <div class="ribbon-holder">
                              <div class="ribbon ribbon-holder">
                                  <p style="text-align: center;margin-top: 30%;">2 x 1</p>
                              </div>
                                <img [src]="deal.image" alt="Shower Curtin" />
                            </div>
                            <ion-card-content>
                                <ion-label style="justify-content: center;" class="titulo">{{deal.name}}</ion-label>
                                <br><ion-label class="limite"> {{showTime(deal.end_date)}} </ion-label>
                            </ion-card-content>
                        </ion-card>    
                    </ion-col>
                </ion-row>
            </ion-col>
          <!-- <ion-col size-lg="4">
              <app-sidebar></app-sidebar>
          </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
