<app-header></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="8" offset-lg="2">
                <ion-row>
                    <ion-col size="12">
                        <ion-card>
                            <ion-card-content>
                                <ion-list-header>
                                    <ion-label class="categoria-principal">
                                      <ion-icon style="font-size: 20px;" name="copy-outline"></ion-icon>
                                      Buqueda: {{filters.search}} - Encontrados: {{entrepreneurships.length}}
                                    </ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let entrepreneurship of entrepreneurships">
                                    <ion-thumbnail style="--border-radius: 5px;" class="routerLink" slot="start" [routerLink]= "['/entrepreneurship']" [queryParams]="{ id: entrepreneurship.id }">
                                      <img [src]="entrepreneurship.logo">
                                    </ion-thumbnail>
                                    <ion-label class="routerLink">
                                      <p class="ion-text-wrap titulo">{{entrepreneurship.name}}</p>
                                      <p class="ion-text-wrap ubicacion"><b>Descripción:</b> {{entrepreneurship.description}}</p>
                                      <p class="ion-text-wrap ubicacion"><b>Subcategoria:</b> {{entrepreneurship.subcategory.name}} -<b>Teléfono:</b> {{entrepreneurship.phone}}</p>
                                      <p class="ion-text-wrap ubicacion"><b>Ubicación:</b> {{(entrepreneurship.address)?entrepreneurship.address:'Sin local'}} - {{entrepreneurship.district.district}}</p>
                                    </ion-label>  
                                    <ion-buttons slot="end">
                                      <ion-button (click)="presentActionSheet(entrepreneurship)">
                                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                                      </ion-button>
                                    </ion-buttons>
                                </ion-item>
                                <ion-item lines="none" *ngIf="entrepreneurships.length == 0" >
                                    <ion-label class="text">No se encontraron emprendimientos con {{filters.search}} 😢</ion-label>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-col>
            <!-- <ion-col size-lg="4">
                <app-sidebar></app-sidebar>
            </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
