.categoria-principal {
    font-family: "Poppins Regular" !important;
    size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #242429;
}

.text {
    font-family: "Poppins Regular" !important;
}

.titulo {
    font-family: "Poppins Regular" !important;
    size: 18px;
    font-weight: 600;
    line-height: 20px;
    color:#E13449;
}

.ubicacion {
    font-family: "Poppins Regular" !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #242429;
}


.detalle {
    font-family: "Poppins Regular" !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #242429;
}

.card {
    box-shadow:none !important
}


.facebook {
    color: #4267B2;
}

.twitter {
    color: #1DA1F2;
}

.youtube {
    color:#FF0000;
}

.instagram {
    color: #833AB4;
}

.tiktok {
    color: #69C9D0;
}