<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar  slot="bottom,end">
      <ion-tab-button tab="home">
        <ion-icon src="../assets/icon/home.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="entrepreneurship">
        <ion-icon src="../assets/icon/entrepreneur.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="categories">
        <ion-icon src="../assets/icon/categories.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="deals">
        <ion-icon src="../assets/icon/deals.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon src="../assets/icon/estrella.svg"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
