@import '../theme/fonts/poppins.scss';

ion-tab-bar, .menu-header {
    --background:  #E13449;
    --color: white;
    font-family: "Poppins Regular" !important;
}

ion-tab-button {
    --color-selected: yellow;
}

.menu-animated {
    -webkit-transition-duration: 1500ms;
    -moz-transition-duration: 1500ms;
    transition-duration: 1500ms;
}