.segmentos {
    font-family: "Poppins Regular" !important;
    text-transform: uppercase;
}

.mensaje {
    margin-top: 10px;
    font-family: "Poppins Regular" !important;
}

.caja {
    margin-top: 20px;
}