.segmentos {
    font-family: "Poppins Regular" !important;
    text-transform: uppercase;
}

.titulo {
    font-family: "Poppins Regular" !important;
    size: 18px;
    font-weight: 600;
    line-height: 20px;
    color:#E13449;
}

.ubicacion {
    font-family: "Poppins Regular" !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #242429;
}