<app-header></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="8">
                <ion-segment class="segmentos" value="entrepreneurship">
                    <ion-segment-button style="--color-checked:#9C27B0" value="entrepreneurship" layout="icon-start">
                        <ion-icon name="megaphone-outline"></ion-icon>
                        <ion-label>Emprendimientos</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="deals" layout="icon-start">
                        <ion-icon name="pricetags-outline"></ion-icon>
                        <ion-label>Promociones</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <ion-slides>
                    <ion-slide>
                        <ion-row>
                            <ion-col *ngFor="let entrepreneurship of entrepreneurships" size="12" size-lg="6">
                                <ion-item [routerLink]= "['/entrepreneurship']" [queryParams]="{ id: entrepreneurship.id }" button detail>
                                    <ion-avatar slot="start">
                                      <img [src]="entrepreneurship.logo">
                                    </ion-avatar>
                                    <ion-label>
                                      <h2 class="ion-text-wrap text">{{entrepreneurship.name}}</h2>
                                      <p class="ion-text-wrap text">{{entrepreneurship.description}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-slide>
                    <ion-slide>
                        
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col size-lg="4">
                <app-sidebar></app-sidebar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
