<ion-row>
  <ion-col size="12">
      <ion-card>
        <ion-img src="../../../assets/img/whopper.jpg"></ion-img>
        <h3 class="text ion-text-center">Publilam</h3>
        <p style="padding: 7px;" class="text ion-text-wrap">
          Bienvenidos a Publilam, la app que busca apoyar a los nuevos emprendedores lambayecanos que nacieron ante la necesidad de salir adelante por el covid.
        </p>
        <!-- <hr size="5px" color="#95a5a6" /> -->
        <ion-img src="../../../assets/img/big.jpg"></ion-img>
        <h3 class="text ion-text-center">Anuncia aquí</h3>
        <p style="padding: 7px;" class="text ion-text-wrap">
          Con tu patrocinio nos ayudas a pagar el servidor que almacena los datos y las imagenes de las publicidades.
        </p>
        <ion-img src="../../../assets/img/redes_sociales.jpg"></ion-img>
        <h3 class="text ion-text-center">Nuestras redes sociales</h3>
        <ion-item   lines="none" button detail>
          <ion-icon class="facebook" slot="start" name="logo-facebook"></ion-icon>
          <ion-label class="facebook detalle">fb.com/publilam</ion-label>
        </ion-item>
        <ion-item  lines="none" button detail>
          <ion-icon class="twitter" slot="start" name="logo-twitter"></ion-icon>
          <ion-label class="twitter detalle">twitter.com/publilam</ion-label> 
        </ion-item>
        <ion-item  lines="none" button detail>
          <ion-icon class="youtube" slot="start" name="logo-youtube"></ion-icon>
          <ion-label class="youtube detalle">youtube.com/publilam</ion-label>
        </ion-item>
        <ion-item  lines="none" button detail>
          <ion-icon class="instagram" slot="start" name="logo-instagram"></ion-icon>
          <ion-label class="instagram detalle">instagram.com/publilam</ion-label>
        </ion-item>
        <ion-item  lines="none" button detail>
          <ion-icon class="tiktok" slot="start" name="logo-tiktok"></ion-icon>
          <ion-label class="tiktok detalle">tiktok.com/publilam</ion-label>
        </ion-item>
      </ion-card>
  </ion-col>
</ion-row>