.titulo-seccion {
    font-family: "Poppins Regular" !important;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
}

.detalle-titulo-seccion {
    font-family: "Poppins Regular" !important;
    text-transform: initial;
    font-weight: 600;
    line-height: 20px;
    --color:  #E13449;
}