<app-header></app-header>

<ion-content>
  <ion-grid fixed>
      <ion-row>
          <ion-col size="12" size-lg="8">
            <ion-row>
              <ion-col *ngIf="entrepreneurship" size="12">
                <div class="contenedor-titulo">
                  <p class="contenedor-texto">{{entrepreneurship.name}}</p>
                </div>
                <ion-card>
                  <div class="img" style="background-image:url('{{entrepreneurship.cover}}')"></div>                  
                  <ion-card-content>
                    <ion-item lines="none">
                      <ion-thumbnail style="--border-radius: 50%; width: 75px; height: 75px;" slot="start">
                        <img [src]="entrepreneurship.logo" />
                      </ion-thumbnail>
                      <ion-label>
                        <div class="titulo ion-text-wrap">{{entrepreneurship.name}} <ion-icon *ngIf="entrepreneurship.isVerified"  style="font-size: 24px !important;" src="../../../assets/icon/verificado.svg"></ion-icon> </div>
                        <p class="ubicacion ion-text-wrap"><b>Slogan:</b> {{entrepreneurship.slogan}}</p>
                        <p class="ubicacion ion-text-wrap"><b>Teléfono:</b> {{entrepreneurship.phone}}</p>
                      </ion-label>
                    </ion-item>
                    <div style="margin-top: 15px !important;"></div>
                    <ion-label class="categoria-principal">
                      Descripción
                    </ion-label>
                    <div class="detalle">
                      {{entrepreneurship.description}}
                    </div>
                    <div style="margin-top: 15px !important;"></div>
                    <ion-label class="categoria-principal">
                      Ubicación
                    </ion-label>
                    <ion-item lines="none">
                      <ion-icon class="facebook" slot="start" name="location-outline"></ion-icon>
                      <ion-label class="detalle district">{{entrepreneurship.address}} {{entrepreneurship.district.district}}</ion-label>
                    </ion-item>
                    <div style="margin-top: 15px !important;"></div>
                    <ion-label  class="categoria-principal">
                      Opciones
                    </ion-label>
                    <!-- <ion-item (click)="callPhone(entrepreneurship.phone)" button detail>
                      <ion-icon class="twitter" slot="start" name="call-outline"></ion-icon>
                      <ion-label class="twitter detalle">Llamar al {{entrepreneurship.phone}}</ion-label>
                    </ion-item>
                    <ion-item (click)="share()" button detail>
                      <ion-icon class="facebook" slot="start" name="paper-plane-outline"></ion-icon>
                      <ion-label class="facebook detalle">Compartir en redes sociales</ion-label>
                    </ion-item> -->
                    <ion-item (click)="saveEntrepreneurship()" button detail>
                      <ion-icon class="youtube" slot="start" name="heart-outline"></ion-icon>
                      <ion-label class="youtube detalle">Agregar a favoritos</ion-label>
                    </ion-item>
                    <div style="margin-top: 15px !important;"></div>
                    <ion-label class="categoria-principal">
                      Categoría
                    </ion-label>
                    <ion-item lines="none">
                      <ion-icon class="facebook" slot="start" name="compass-outline"></ion-icon>
                      <ion-label class="detalle district">{{entrepreneurship.subcategory.category.name}} - {{entrepreneurship.subcategory.name}}</ion-label>
                    </ion-item>
                    <div style="margin-top: 15px !important;"></div>
                    <ion-label class="categoria-principal">
                      Detalles
                    </ion-label>
                    <div>
                      <ion-chip color="primary" class="etiqueta ion-text-capitalize" *ngFor="let tag of entrepreneurship.tags" >
                        <ion-icon style="margin-right: 5px;" [src]="tag.icon"></ion-icon>
                        {{tag.description}}
                      </ion-chip>
                    </div>
                    <div style="margin-top: 15px !important;"></div>
                    <ion-label class="categoria-principal" *ngIf="entrepreneurship.facebook || entrepreneurship.twitter || entrepreneurship.youtube || entrepreneurship.instagram || entrepreneurship.tiktok "  >
                      Síguenos
                    </ion-label>
                    <ion-item *ngIf="entrepreneurship.facebook"  lines="none" (click)="openSocial(entrepreneurship.facebook,1)" button detail>
                      <ion-icon class="facebook" slot="start" name="logo-facebook"></ion-icon>
                      <ion-label class="facebook detalle">{{entrepreneurship.facebook}}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="entrepreneurship.twitter" lines="none" (click)="openSocial(entrepreneurship.twitter,2)" button detail>
                      <ion-icon class="twitter" slot="start" name="logo-twitter"></ion-icon>
                      <ion-label class="twitter detalle">{{entrepreneurship.twitter}}</ion-label> 
                    </ion-item>
                    <ion-item *ngIf="entrepreneurship.youtube" lines="none" (click)="openSocial(entrepreneurship.youtube,3)" button detail>
                      <ion-icon class="youtube" slot="start" name="logo-youtube"></ion-icon>
                      <ion-label class="youtube detalle">{{entrepreneurship.youtube}}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="entrepreneurship.instagram" lines="none" (click)="openSocial(entrepreneurship.instagram,4)" button detail>
                      <ion-icon class="instagram" slot="start" name="logo-instagram"></ion-icon>
                      <ion-label class="instagram detalle">{{entrepreneurship.instagram}}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="entrepreneurship.tiktok" lines="none" (click)="openSocial(entrepreneurship.tiktok,5)" button detail>
                      <ion-icon class="tiktok" slot="start" name="logo-tiktok"></ion-icon>
                      <ion-label class="tiktok detalle">{{entrepreneurship.tiktok}}</ion-label>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-lg="4">
              <app-sidebar></app-sidebar>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

