.entrada{
    font-family: "Poppins Regular";
    font-size: 13px;
    line-height: 20px;
  }

  .btn-registrar {
    font-family: "Poppins Regular";
    --background: #009688;
    --border-color: #009688;
    text-transform: none !important;
    margin-top: 20px;
}
