<app-header></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="8">
              <ion-grid fixed>
                <form style="width: 100%;" [formGroup]="saveForm" (ngSubmit)="save()">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <div class="contenedor-titulo">
                        <p class="contenedor-texto">Editar Emprendimiento</p>
                      </div>
                      <ion-card>
                        <ion-card-content>
                          <p style="color: #E13449" class="text">** Son datos que deben estar completos.</p>
                          <div class="separador"></div>
                          <ion-item lines="none" class="elemento">   
                            <ion-icon name="person-outline" slot="start"></ion-icon>
                            <ion-input class="entrada" placeholder="Nombre**" formControlName="name" required></ion-input>
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                              <div class="error-message" *ngIf="saveForm.get('name').hasError(validation.type) && (saveForm.get('name').dirty || saveForm.get('name').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                          
                          <div class="separador"></div>
                          <ion-item lines="none" class="elemento">   
                            <ion-icon name="document-text-outline" slot="start"></ion-icon>
                            <ion-input class="entrada" placeholder="Descripción**" formControlName="description" required></ion-input>
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.description">
                              <div class="error-message" *ngIf="saveForm.get('description').hasError(validation.type) && (saveForm.get('description').dirty || saveForm.get('description').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>

                          <div class="separador"></div>
                          <ion-item lines="none" class="elemento">   
                            <ion-icon name="text-outline" slot="start"></ion-icon>
                            <ion-input class="entrada" placeholder="Slogan**" formControlName="slogan" required></ion-input>
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.slogan">
                              <div class="error-message" *ngIf="saveForm.get('slogan').hasError(validation.type) && (saveForm.get('slogan').dirty || saveForm.get('slogan').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>


                          <ion-row>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="copy-outline"></ion-icon>
                                <ion-select [value]="category.id" class="select-global" style="--placeholder-opacity: 0.5" placeholder="Categoría**" (ionChange)="categoryChange($event,null)">
                                  <ion-select-option *ngFor="let category of categories"  [value]="category.id">{{category.name}}</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="browsers-outline"></ion-icon>
                                <ion-select [value]="subcategory.id" class="select-global" style="--placeholder-opacity: 0.5" placeholder="Subcategoría**" formControlName="subcategory" disabled ="{{!haveCategories}}">
                                  <ion-select-option *ngFor="let subcategory of subcategories"  [value]="subcategory.id">{{subcategory.name}}</ion-select-option>
                                </ion-select>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.subcategory">
                                  <div class="error-message" *ngIf="saveForm.get('subcategory').hasError(validation.type) && (saveForm.get('subcategory').dirty || saveForm.get('subcategory').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="location-outline" slot="start"></ion-icon>
                                <ion-input class="entrada" placeholder="Dirección" formControlName="address"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.address">
                                  <div class="error-message" *ngIf="saveForm.get('address').hasError(validation.type) && (saveForm.get('address').dirty || saveForm.get('address').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="compass-outline"></ion-icon>
                                <ion-select [value]="district.id" class="select-global" [value]="selectedDistrict" style="--placeholder-opacity: 0.5" placeholder="Distrito**" formControlName="district">
                                  <ion-select-option *ngFor="let district of districts"   [value]="district.id">{{district.district}}</ion-select-option>
                                </ion-select>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.district">
                                  <div class="error-message" *ngIf="saveForm.get('district').hasError(validation.type) && (saveForm.get('district').dirty || saveForm.get('district').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                          </ion-row>

                          <div class="separador"></div>
                          <ion-item lines="none" class="elemento">   
                            <ion-icon name="call-outline" slot="start"></ion-icon>
                            <ion-input class="entrada" placeholder="Teléfono**" formControlName="phone" required></ion-input>
                          </ion-item>  
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.phone">
                              <div class="error-message" *ngIf="saveForm.get('phone').hasError(validation.type) && (saveForm.get('phone').dirty || saveForm.get('phone').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                          <ion-row>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <p class="entrada">Seleccionar logo**</p>
                              <ion-item lines="none" class="elemento">  
                                <ion-thumbnail style="--border-radius: 5px; margin-right: 5px;" *ngIf="logo_preview" >
                                  <img [src]="logo_preview" />
                                </ion-thumbnail> 
                                <ion-input class="entrada" accept="image/*" (change)="obtenerLogo($event)" required formControlName="logo" type="file" placeholder="Logo"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.logo">
                                  <div class="error-message" *ngIf="saveForm.get('logo').hasError(validation.type) && (saveForm.get('logo').dirty || saveForm.get('logo').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <p class="entrada">Seleccionar cover**</p>
                              <ion-item lines="none" class="elemento"> 
                                <ion-thumbnail style="--border-radius: 5px; margin-right: 5px;" *ngIf="entrepreneurship" >
                                  <img [src]="cover_preview" />
                                </ion-thumbnail>
                                <ion-input class="entrada" style="display: block;" accept="image/*" (change)="obtenerCover($event)" required formControlName="cover" type="file" placeholder="Cover"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cover">
                                  <div class="error-message" *ngIf="saveForm.get('cover').hasError(validation.type) && (saveForm.get('cover').dirty || saveForm.get('cover').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="logo-facebook" slot="start"></ion-icon>
                                <ion-input class="entrada" placeholder="Facebook" formControlName="facebook"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.facebook">
                                  <div class="error-message" *ngIf="saveForm.get('facebook').hasError(validation.type) && (saveForm.get('facebook').dirty || saveForm.get('facebook').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>  
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="logo-twitter" slot="start"></ion-icon>
                                <ion-input class="entrada" placeholder="Twitter" formControlName="twitter"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.twitter">
                                  <div class="error-message" *ngIf="saveForm.get('twitter').hasError(validation.type) && (saveForm.get('twitter').dirty || saveForm.get('twitter').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>  
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="logo-youtube" slot="start"></ion-icon>
                                <ion-input class="entrada" placeholder="Youtube" formControlName="youtube"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.youtube">
                                  <div class="error-message" *ngIf="saveForm.get('youtube').hasError(validation.type) && (saveForm.get('youtube').dirty || saveForm.get('youtube').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>  
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="logo-instagram" slot="start"></ion-icon>
                                <ion-input class="entrada" placeholder="Instagram" formControlName="instagram"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.instagram">
                                  <div class="error-message" *ngIf="saveForm.get('instagram').hasError(validation.type) && (saveForm.get('instagram').dirty || saveForm.get('instagram').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>  
                            </ion-col>
                            <ion-col size="12" size-lg="6">
                              <div class="separador"></div>
                              <ion-item lines="none" class="elemento">   
                                <ion-icon name="logo-tiktok" slot="start"></ion-icon>
                                <ion-input class="entrada" placeholder="Tiktok" formControlName="tiktok"></ion-input>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.tiktok">
                                  <div class="error-message" *ngIf="saveForm.get('tiktok').hasError(validation.type) && (saveForm.get('tiktok').dirty || saveForm.get('tiktok').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>  
                            </ion-col>
                            <ion-col size="12">
                              <ion-list style="padding-top: 0px !important;">
                                <ion-list-header>
                                  <ion-label class="entrada" >¿Qué tiene tu negocio? (selecciona al menos uno**)</ion-label>
                                </ion-list-header>
                                <ion-row>
                                  <ion-col *ngFor="let tag of tags" size="12" size-lg="6">
                                    <ion-item lines="none">
                                      <ion-label class="entrada" >
                                        <p>{{tag.description}}
                                      </ion-label>
                                      <ion-checkbox slot="start" [(ngModel)]="tag.checked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                    </ion-item>
                                  </ion-col>
                                </ion-row>
                              </ion-list>
                            </ion-col>
                          </ion-row>

                          

                          <ion-button type="submit" class="btn-registrar" expand="block" [disabled]="saveForm.invalid">
                            Guardar
                            <ion-icon slot="end" name="save-outline"></ion-icon>
                          </ion-button>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                 </form>
                </ion-grid>
            </ion-col>
            <ion-col size-lg="4">
                <app-sidebar></app-sidebar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
